/* 
    Document   : styles
    Created on : Sep 12, 2013, 4:11:46 PM
    Author     : Kevin J. Fry
    Description:
        Purpose of the stylesheet follows.
    VFW1309 - Project 2
*/

root { 
    display: block;
}

